.content__basket {
  width: 937px;
  height: 110px;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  bottom: 0px;
  left: 32%;
  padding: 0 25px;
}

@media (max-width: 760px) {
  .basket__container {
    padding: 0;
    margin-right: 0;
  }
}

.basket__subtitle {
  font-size: 14px;
  line-height: 160%;
  color: #677488;
  margin-bottom: 8px;
}

.basket__number {
  font-size: 15px;
  line-height: 91.5%;
  color: #7044cc;
}

@media (max-width: 1138px) {
  .content__basket {
    width: -webkit-fill-available;
  }
}
@media (max-width: 990px) {
  .content__basket {
    min-width: 610px;
    max-width: 758px;
    width: 80%;
    left: 13%;
  }
  .basket__subtitle {
    font-size: 13px;
  }

  .basket__sum {
    margin: 0 15px;
  }
  .basket__views {
    margin: 0 56px 0 15px;
  }
}

@media (max-width: 760px) {
  .content__basket {
    border-radius: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 105%;
    left: 0;
    height: 18%;
  }
  .basket__subtitle {
    margin-bottom: 2px;
  }
}

@media (max-width: 990px) {
  .basket__buttons {
    flex-direction: column;
    gap: 0.5em !important;
  }
}

@media (max-width: 760px) {
  .basket__buttons_wrapper {
    flex: 0;
  }
  
  .basket__counters_wrapper {
    flex: 0.5 0;
  }

  .basket__counters {
    flex-wrap: wrap;
    gap: 1em !important;
  }
}
