.header__wrapper_burger {
  display: none;
}

.header__language_burgermenu {
  display: block !important;
}

.header__btn__burgermenu {
  display: block !important;
}

.burger__language {
  margin: 58px 0 74px 20px;
}

@media (max-width: 1100px) {
  .header__wrapper_burger {
    display: block;
  }

  .header__burger_btn {
    width: 58px;
    height: 40px;
    position: relative;
  }

  .header__burger_btn span {
    width: 39px;
    height: 4px;
    background-color: #7044cc;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__burger_btn_index span {
    width: 39px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .header__burger_btn span:first-child {
    top: calc(50% - 10px);
  }
  
  .header__burger_btn span:nth-child(2) {
    width: 58px;
    height: 4px;
    left: calc(50% + 9.4px);
    border-radius: 4px;
  }
  
  .header__burger_btn span:nth-child(3) {
    top: calc(50% + 10px);
  }

  .burger__header {
    display: flex;
    justify-content: space-between;
  }

  .burger__menu {
    width: 247px;
    margin-top: 100px;
    margin-left: 20px;
  }

  .burger__menu ul > li:nth-child(2) {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
  
  .burger__menu ul > li:nth-child(3) {
    border-bottom: 1px solid #E6E6E6;
  }

  .burger__menu ul {
    padding-left: 0;
  }

  .burger__menu ul > li {
    padding: 17px 0;
  }
  .burger__menu a {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  .burger__menu a:hover {
    color: #7044CC;
    text-decoration: underline;
  }
}

.header__burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 54px 30px;
  z-index: 1;
  transform: translateX(-100%);
}

@media (max-width: 1100px) {

  .header__burger_active {
    transform: translateX(0);
  }

  .burger__bnt {
    margin: 0 0 0 20px;
  }
}
