
.content_channels_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 91.5%;
  margin-bottom: 16px;
}

.content_channels_number {
  font-weight: 300;
  font-size: 65px;
  line-height: 91.5%;
  color: #7044cc;
}

@media (max-width: 1330px) {
  .content_channels_text {
    display: none;
  }

  .content_channels_number {
    display: none;
  }
}
