@import '../../scss/mixins';

.footer {
  &__wrapper {
    margin: 194px 112px 0 23px;

    @include respondTo(1330px) {
      margin: 890px 112px 0 23px;
    }
    @include respondTo(767px) {
      margin: 500px 0 100px;
    }
  }
  &__navigation {
    a {
      font-size: 17px;
      color: #677488;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    li {
      margin-bottom: 42px;

      &:last-child {
        margin-bottom: 82px;
      }
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 99%;
    color: #7044cc;
    margin-bottom: 62px;
  }
  &__contacts {
    a {
      font-weight: 300;
      font-size: 45px;
      line-height: 34px;
      text-decoration: underline;
      color: #7044CC;

      @include respondTo(767px) {
        font-size: 25px;
      }
    }
  }
  &__line {
    margin-left: 23px;
    margin-right: 20px;
    height: 1px;
    background: #CECECE;
  }
  &__copyright {
    margin: 82px 20px 0 23px;
    padding-bottom: 178px;

    p {
      font-weight: 500;
      font-size: 17px;
      line-height: 160%;
    }
  }
}
