@import '../scss/mixins';

.index_body {
  font-family: 'HelvetivaNeueCyr';
  font-size: 17px;
  background: url(/img/bg_right.jpg)top right no-repeat;

  @include respondTo(1200px) {
    background: url(/img/bg_right768.jpg)top right no-repeat;
  }

  @include respondTo(767px) {
    background: url(/img/mobile/bg_right380.jpg)top right no-repeat;
  }
}

.wrapper {
  background: url(/img/bg_left.jpg)left top no-repeat;

  @include respondTo(1500px) {
    background-position: left 480px;
  }

  @include respondTo(1200px) {
    background: url(/img/bg_left768.jpg)left top no-repeat;
    background-position: left 1100px;
  }

  @include respondTo(767px) {
    background: url(/img/mobile/bg_left380.jpg)left top no-repeat;
    background-position: left 1100px;
  }
}

.container {
  max-width: 1114px;
  margin: 0 auto;
}

.advertising {
  margin-top: 94px;

  &__title {

    @include respondTo(1200px) {
      margin-left: 30px;
    }

    @include respondTo(767px) {
      margin-left: 20px;
    }

    h1 {
      font-size: 85px;
      font-weight: 700;
      line-height: 91.5%;
      color: #000;
      width: 723px;

      @include respondTo(1200px) {
        font-size: 55px;
        line-height: 91.5%;
        max-width: 500px;
      }

      @include respondTo(767px) {
        width: 100%;
        font-size: 35px;
        max-width: 300px;
      }
    }

    p {
      margin-top: 17px;
      width: 565px;
      margin-bottom: 73px;

      @include respondTo(767px) {
        width: 100%;
        max-width: 340px;
        font-size: 15px;
      }
    }

    a {
      font-weight: 500;
      font-size: 15px;
      line-height: 231.5%;
      color: #7044CC;
      padding: 32px 109px 32px 47px;
      border: 1px solid #7044CC;
      border-radius: 125px;
      background: #650DF0;
      background: url(/img/icons/title_btn.svg) center right 4px no-repeat;
    }
  }
}

.header__btn_none {

  @include respondTo(1100px) {
    margin-left: 20%;
  }
}

.text {
  font-size: 17px;
  font-weight: 400;
  line-height: 160%;
  color: #677488;
}

.advantage {
  margin-top: 132px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respondTo(767px) {
    flex-direction: column;
  }

  div {
    @include respondTo(1000px) {
      width: 250px;
      min-height: 218px;
    }
  }

  &__item {
    width: 320px;
    min-height: 268px;
  }

  &__number {
    font-size: 55px;
    line-height: 123.84%;
    color: #7044CC;
    margin: 34px 60px 10px 60px;

    @include respondTo(1000px) {
      font-size: 35px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 166.9%;
    max-width: 200px;
    margin: 0 60px;

    @include respondTo(1000px) {
      margin-left: 60px;
      margin-right: 14px;
    }

    @include respondTo(767px) {
      font-size: 15px;
    }
  }

  &__user {}

  &__channel {
    background: #7044CC;

    @include respondTo(767px) {
      background: none;
    }

    p {
      color: #fff;

      @include respondTo(767px) {
        color: #000;

        &:first-child {
          color: #7044CC;
        }
      }
    }
  }

  &__orders {}
}

.partners {
  margin-top: 100px;

  @include respondTo(767px) {
    margin-top: 228px;
  }

  &__title {
    max-width: 288px;
    max-height: 100%;
    margin: 0 auto;
  }

  &__items {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respondTo(1000px) {
      display: flex;
      justify-content: center;
    }

    @include respondTo(767px) {
      flex-direction: column;
      align-items: center;
    }

    div {
      width: 245px;
      height: 143px;
      border: 1px solid #E1E1E1;
      display: flex;
      justify-content: center;
      align-items: center;

      @include respondTo(1000px) {
        width: 231px;
        height: 135px;
      }
    }
  }

  &__yandex {

    @include respondTo(1000px) {
      margin: 0 12px 12px 12px;
    }

    @include respondTo(767px) {
      margin: 23px 0;
    }
  }

  &__master {

    @include respondTo(767px) {
      margin: 25px 0 0 0;
    }
  }
}

.how_it_works {
  margin-top: 175px;

  @include respondTo(767px) {
    margin-top: 160px;
  }

  &__wrapper {
    margin-top: 96px;
    height: 369px;
    width: 100%;
    background: #F7F7F7;

    @include respondTo(767px) {
      background: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;

    @include respondTo(1000px) {
      margin: 79px 0 0 20px;
    }

    @include respondTo(767px) {
      flex-direction: column;
    }
  }

  &__catalog {

    @include respondTo(767px) {
      flex-direction: column-reverse;
    }
  }

  &__balance {
    margin-top: 79px;
  }

}

.icon__number {
  margin-right: 35px;

  @include respondTo(767px) {
    margin-right: 20px;
  }
}

.registration {
  background: url(/img/backgraund.jpg)center / cover no-repeat;
  max-width: 100%;
  height: 369px;
  margin-bottom: 89px;

  @include respondTo(767px) {
    background: url(/img/mobile/backgraund380.jpg)center / cover no-repeat;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 137px 213px 0 20px;

    @include respondTo(1000px) {
      padding: 137px 40px 0 20px;
    }

    @include respondTo(767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    max-width: 450px;
    margin-right: 114px;

    @include respondTo(1000px) {
      margin-right: 4px;
      max-width: 434px;
    }

    a {
      font-weight: 500;
      font-size: 15px;
      line-height: 231.5%;
      text-transform: uppercase;
      color: #fff;
      padding: 14px 36px;
      background-color: #7044CC;
      border-radius: 100px;
    }

    p {
      margin-bottom: 36px;

      @include respondTo(767px) {
        margin-top: 40px;
      }
    }
  }

  &__icon {
    img {
      &:last-child {
        padding-top: 5px;
      }
    }
  }
}

.catalog {
  &__title {
    margin-top: 79px;
    margin-right: 282px;

    @include respondTo(1000px) {
      margin-right: 172px;
    }
  }

  &__text {
    margin-top: 79px;

    @include respondTo(1000px) {
      width: 244px;
    }
  }
}

.balance {
  &__title {}

  &__icon {}

  &__text {
    margin-right: 244px;

    @include respondTo(1000px) {
      margin-right: 120px;
    }

    @include respondTo(767px) {
      margin-right: 0;
    }

    p {
      &:first-child {
        width: 320px;
        margin-bottom: 36px;

        @include respondTo(767px) {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: 256px;
        margin-bottom: 52px;
        line-height: 160%;
      }
    }

    &__img {
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }
    }
  }
}

.registration__subtitle,
.catalog__subtitle,
.balance__subtitle {
  max-width: 300px;
  margin-top: 30px;
}

.start_working {
  margin-bottom: 155px;

  &__title {
    width: 520px;
    margin: 0 auto;
    margin-top: 120px;

    @include respondTo(767px) {
      width: 250px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 99%;
    color: #7044CC;
    margin-bottom: 22px;
  }

  &__advantage {
    display: flex;
    flex-wrap: wrap;
    margin-top: 98px;

    @include respondTo(767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__advertising {
    text-align: center;
    width: 384px;
    height: 384px;
    border: 1px dashed #7044CC;
    border-radius: 50%;
    padding-top: 130px;
    margin-left: 15.5%;

    @include respondTo(1024px) {
      margin-left: 14%;
    }

    @include respondTo(915px) {
      margin-left: 100px;
    }

    @include respondTo(856px) {
      margin-left: 10px;
    }

    @include respondTo(767px) {
      margin: 0;
      width: 320px;
      height: 320px;
    }
  }

  &__text_advertising {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
  }

  &__admin {
    text-align: center;
    width: 384px;
    height: 384px;
    border: 1px dashed #7044CC;
    border-radius: 50%;
    padding-top: 130px;
    margin-left: -1.5%;

    @include respondTo(767px) {
      margin: -40px;
      width: 320px;
      height: 320px;
    }
  }

  &__text_admin {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
  }

  &__agency {
    text-align: center;
    width: 384px;
    height: 384px;
    border: 1px dashed #7044CC;
    border-radius: 50%;
    padding-top: 130px;
    margin-left: 32.25%;
    margin-top: -6%;

    @include respondTo(915px) {
      margin-left: 283px;
    }

    @include respondTo(856px) {
      margin-left: 196px;
      margin-top: -8%;
    }

    @include respondTo(767px) {
      margin: 0;
      width: 320px;
      height: 320px;
    }
  }

  &__text_agency {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
  }
}

.line {
  margin: 0 auto;
  border-top: 2px solid #7044CC;
  width: 50px;
}

.registation {
  &__title {
    h4 {

      @include respondTo(767px) {
        margin-top: 54px;
        margin-left: 15px;
      }
    }
  }

  &__subtitle {

    @include respondTo(767px) {
      margin-left: 15px;
      margin-top: 23px;
      text-align: center;
    }

    p {
      font-size: 17px;
      line-height: 160%;
      color: #fff;
      width: 315px;
      margin-bottom: 36px;

      @include respondTo(767px) {
        font-size: 15px;
      }
    }

    a {
      font-weight: 500;
      font-size: 15px;
      line-height: 231.5%;
      color: #fff;
      padding: 10px 30px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 100px;
    }
  }
}

.questions {


  &__wrapper {
    width: 50%;
    height: 626px;
    margin: 0 auto;
    background-color: #EEF4FD;
    display: flex;
    justify-content: space-between;

    @include respondTo(1299px) {
      width: 100%;
    }

    @include respondTo(1000px) {
      text-align: center;
    }

    @include respondTo(767px) {
      height: 100%;
      background-color: transparent;
    }

    &_background {
      background: url(/img/questions/bg_questions.jpg)left / cover no-repeat;

      @include respondTo(1299px) {
        margin-bottom: 15px;
      }

      @include respondTo(767px) {
        height: 527px;
        background: url(/img/mobile/bg_questions380.jpg)center / cover no-repeat;
        margin-bottom: 50px;
      }
    }
  }

  &__title {
    margin: 220px 0 0 180px;
    width: 300px;

    @include respondTo(1330px) {
      margin: 56px auto;
      width: 300px;
    }

    @include respondTo(1000px) {
      width: 372px;
    }

    @include respondTo(767px) {
      width: 280px;
    }

    h4 {
      line-height: 64px;
      margin-bottom: 30px;

      @include respondTo(1330px) {
        padding-top: 182px;
      }

      @include respondTo(767px) {
        padding-top: 140px;
        line-height: 34px;
      }
    }

    a {
      font-family: 'Gotham Pro';
      font-size: 18px;
      line-height: 34px;
      color: #fff;

      @include respondTo(767px) {
        padding-top: 85px;
      }
    }
  }

  &__item {
    margin-bottom: 18px;

    a {
      display: block;
      text-align: center;
      padding: 42px;
      margin-right: 8px;
    }
  }

  &__social_media {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    @include respondTo(767px) {
      padding: 0
    }

    &__wrapper {}

    a {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 14px;
      color: #000;
      text-transform: uppercase;
    }
  }

  &__vk {
    width: 469px;
    height: 99px;
    border: 1px #A5A5A5 solid;

    @include respondTo(767px) {
      width: 100%;
    }

    a {
      background: url(/img/questions/vk.svg)right no-repeat;

      @include respondTo(767px) {
        padding: 40px 76px 40px 0;
      }
    }
  }

  &__facebook {
    width: 469px;
    height: 99px;
    border: 1px #A5A5A5 solid;
    margin: 18px 0;

    @include respondTo(767px) {
      width: 100%;
    }

    a {
      background: url(/img/questions/fb.svg)right no-repeat;
    }
  }

  &__telegram {
    width: 469px;
    height: 99px;
    border: 1px #A5A5A5 solid;

    @include respondTo(767px) {
      width: 100%;
    }

    a {
      background: url(/img/questions/tg.svg)right no-repeat;
    }
  }
}