@import "~bootstrap/scss/bootstrap";
@import 'mixins';
@import 'fonts';
@import "nullstyle.scss";

body {
  font-family: 'HelvetivaNeueCyr';
  font-size: 17px;
}

.navbar {
  padding-top: 61px;
}

.header {

  &__logo {
    a {
      height: 100%;
      display: block;
    }
  }

  &__language {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      .header__language_btn {
        display: block;
      }
    }

    &_active {
      color: #650DF0;

      &:after {
        background: url(/img/icons/lang_icon.svg) no-repeat scroll center center;
        content: "";
        height: 7px;
        position: absolute;
        left: 25px;
        top: 4px;
        width: 7px;
        padding: 3px 3px 3px 16px;
      }
    }

    &_btn {
      position: absolute;
      display: none;

      a {
        color: black;
        padding: 2px 0;
        text-decoration: none;
        display: block;

        &:hover {
          color: #650DF0;
        }
      }
    }

    &_none {
      @include respondTo(1100px) {
        display: none;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0;

    @include respondTo(1100px) {
      display: none;
    }
  
    li {
      margin: 0 13.5px 0 13.5px;
    }
  
    a {
      position: relative;
      font-weight: 500;
      line-height: 160%;
      color: #000;
      transition: all 0.3s ease-in 0s;
  
      &:before {
        content: '';
        position: absolute;
        top: -79px;
        left: 50%;
        margin-left: -58px;
        width: 116px;
        height: 6px;
        background: #7044CC;
        opacity: 0;
        transition: all 0.3s ease-in 0s;
      }
  
      &:hover {
        color: #7044CC;
  
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__btn_reg {
    background-color: #7044CC;
    padding: 23px 49px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    a,
    p {
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      transition: all 0.3s ease-in 0s;
    }

    a {
      &:hover {
        color: #000;
      }
    }
  
  
    p {
      margin: 0 8px;
    }
  
    img {
      margin-left: 14px;
    }
  }

  &__btn_none {
    @include respondTo(767px) {
      display: none;
    }
  }

  &__wrapper_burger {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    display: none;

    @include respondTo(1100px) {
      display: block;
    }
  }

  &__burger {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 54px 30px;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.active {
      opacity: 1;
      z-index: 100;
    }



    &_btn {
      width: 58px;
      height: 40px;
      position: relative;

      span {
        width: 39px;
        height: 4px;
        background-color: #fff;
        position: absolute;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:first-child {
          top: calc(50% - 10px);
        }

        &:nth-child(2) {
          width: 58px;
          height: 4px;
          left: calc(50% + 9.4px);
          border-radius: 4px;
        }

        &:nth-child(3) {
          top: calc(50% + 10px);
        }
      }
    }
  }
}

.burger {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    width: 247px;
    margin-top: 177px;
    padding-left: 0;

    >li:not(:last-child) {
      border-bottom: 1px solid #E6E6E6;
    }

    li {
      position: relative;
      padding: 17px 0;

      a {
        color: #000;
        font-size: 25px;
        font-weight: 500;
        transition: all 0.3s;
      }

      &:hover {
        a {
          color: #7044CC;
        }

        &:before {
          content: '';
          width: 6px;
          height: 100%;
          background: #7044CC;
          position: absolute;
          left: -30px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

  }

  &__language {
    margin: 58px 0 74px;
  }
}

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 91.5%;
  width: 267px;
}

h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 99%;
  color: #7044CC;
  text-align: center;

  @include respondTo(767px) {
    font-size: 35px;
  }
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 99%;
}

h4 {
  font-weight: 500;
  font-size: 55px;
  line-height: 34px;
  color: #fff;

  @include respondTo(1000px) {
    font-size: 35px;
  }
}
