@import "~bootstrap/scss/bootstrap";
@import 'fonts';
@import "nullstyle.scss";

body {
  font-family: 'HelvetivaNeueCyr';
  font-size: 17px;
}

.burger__menu ul > li:nth-child(2) {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.burger__menu ul > li:nth-child(3) {
  border-bottom: 1px solid #E6E6E6;
}

.burger__menu {
  width: 247px;
  margin-top: 177px;
  margin-left: 20px;

  ul > li {
      padding: 17px 0;
  }

  a {
      color: #000;
      font-size: 25px;
      font-weight: 500;
      transition: all 0.3s;
  }
}

.burger__menu a:hover {
  color: #7044CC;
}

.burger__language {
  margin: 58px 0 74px 20px;
}

.burger__bnt {
  margin: 0 0 0 20px;
}

h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 99%;
  color: #7044CC;
  text-align: center;
}

@media (max-width: 767px) {
  h2 {
      font-size: 35px;
  }
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 99%;
}

h4 {
  font-weight: 500;
  font-size: 55px;
  line-height: 34px;
  color: #fff;
}

@media (max-width: 1000px) {
  h4 {
      font-size: 35px;
  }
}

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 91.5%;
  width: 267px;
}