.CampaignItmTitle {
  background-color: #7044cc;
  padding: 40px;
  border-radius: 6px;
  color: #fff;
  align-items: center;
}

.CampaignActions {
  padding: 40px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #dcdcdc;
  margin-top: -4px;
  border-top: 0px;
}

.DeleteButton {
   color: #ef2c2c;
}
